<style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<h1>Check weather instantly!</h1>

<%= form_tag do %>
  <%= text_field_tag 'query', '', autocomplete: :off, autofocus: true %>
  <%= submit_tag 'Search', onclick: "get_weather_info(event)" %>
<% end %>

<div id="weather-info">
</div>

<center>
  <div id="loader"></div>
</center>

<script>
  city = localStorage.getItem("city")
  if(city) {
    $('#query').val(city);
    call_weather_forecast_api()
  }
  function get_weather_info(e) {
    e.preventDefault();
    call_weather_forecast_api()
  }
  function call_weather_forecast_api() {
    city = $('#query').val();
    localStorage.setItem("city", city);
    $("#loader").addClass('loader')
    $.ajax({
      type: "GET",
      url: "/weather/forecast",
      data: { city: city }
    }).done(function() {
      $("#loader").removeClass('loader')
    });
  }
</script>
