<style>
  table { border-collapse: collapse; }
  tr { border: none; }
  td {
    border-right: solid 1px #f00;
    border-left: solid 1px #f00;
  }
</style>

<br><br><br><br><br>
<% dates, days, high, low, text = parse_forecast_info(@forecast) %>
<h3>Forecast for next 10 days</h3>

<table>
  <% [dates, days, high, low, text].each do |item| %>
  <tr>
    <% dates.count.times do |i| %>
    <td><%= item[i] %></td>
    <% end %>
  </tr>
  <% end %>
</table>
