<u><h1>Check weather instantly!</h1></u>

<%= text_field_tag 'city', '', autocomplete: :off, autofocus: true %>

<center>
  <div id="loader"></div>
</center>

<center>
  <div id="climate-info">
  </div>
</center>

<script>
  $("#city").autocomplete({
    minLength: 1,
    source: function(request, response) {
      var keyword = $("#city").val();
      $.ajax({
        type: "POST",
        url: "/get_suggestions",
        data: { keyword : keyword },
        success: function(data) {
          var suggestions = data.error? [] : $.map(data, function(entry) {
            return {
              label: entry.value,
              code: entry.code
            };
          });
          response(suggestions);
        }
      })
    },
    select: function(event, entry) {
      call_climate_api(entry.item.label, entry.item.code)
    }
  }).data("ui-autocomplete")._renderItem = function(ul, entry) {
      return $("<li></li>")
        .data("entry.autocomplete", entry)
        .append("<span class='pull-right'>" + entry.label + "</span>")
        .appendTo(ul);
  };

  function call_climate_api(city, code) {
    localStorage.setItem("api_city", city);
    localStorage.setItem("api_code", code);
    $("#loader").addClass('loader')
    $("#weather-info").html('')
    $.ajax({
      type: "GET",
      url: "/climate/forecast",
      data: { code: code }
    }).done(function() {
      $("#loader").removeClass('loader')
    });
  }

  city = localStorage.getItem("api_city")
  code = localStorage.getItem("api_code")
  if(city && code) {
    $('#city').val(city);
    call_climate_api(city, code)
  }
</script>
